{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h1>리뷰목록</h1>
<div class="d-flex flex-wrap">
{% if reviews %}
{% for review in reviews %}
<div class="card shadow m-3 relative" style="width: 20%;">
    {% if review.image %}
    <img src="{{ review.image.url }}" class="card-img-top" alt="...">
    <img src="https://an2-img.amz.wtchn.net/image/v1/updatable_images/2571/original/42e70f1bc34d7af54478a311983ecf6d3601eefa.png" alt="" style="width:16%;border-radius: 50%;position:absolute;background-color: white;padding: 0.3rem;right: 0;">
    {% endif %}    
        <div class="card-body">
            <p class="card-text"><a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
                <br>
                {{ review.user.username }}
                <br>
                {{ review.created_at }}
            </p>
        </div>
</div>
{% endfor %}
</div>
<!-- <table class="table m-5">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">리뷰 제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성자</th>
            <th scope="col">작성 시간</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for review in reviews %}
            <th scope="row">{{review.id}}</th>
            <td><a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a></td>
            <td>{{review.content}}</td>
            <td><a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a></td>
            <td>{{review.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
{% else %}
<p>리뷰가 없습니다 ㅠㅠ</p>
{% endif %}
{% endblock content %}